
  
  .grid-containe {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
   
  }
  
  .grid-item {
    width: 1700px;
    box-sizing: border-box;
   
  }
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  